main {
    padding: 0 10%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.container img {
    width: 450px;
}

.container p {
    margin-top: 14px;
    max-width: 400px;
}

#caixa2, #caixa3, #caixa4 {
    display: none;
}

footer {
    text-align: center;
}