main {
    margin: 0 10%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



#caixa2, #caixa3, #caixa4 {
    display: none;
}

.container p {
    margin-top: 14px;
    max-width: 400px;
}