@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {   /* paleta */
    --color1:#0B0A09;
    --color2:#f5f3f5;
    --color3:#1b264f;
    --color4:#274690;
    --color5:#0078D7;

        /* paleta de alto contraste*/
    --hyperlinks:#5957e6;
    --text:#ffff00;
}


* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    font-family:'roboto',sans-serif;
}

body {
    padding-top:25vh;
}

header {
    background: var(--color1);
    position: fixed;
    top: 0;
    height: 25vh;
    width: 100%;
}

#recursos, header nav {
    padding: 14px 10%;
}

#recursos {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

#recursos ul {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 2%;
    min-width:800px;
    color: #fff;
}

#recursos ul a {
    color: #fff;
    text-decoration: none;
}

#recursos ul a:hover {
    outline: 2px solid #fff; /** borda externa **/
}

#size-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#size-menu img {
    height: 24px;
    cursor: pointer;
}

#size-menu img:nth-child(2) {
    height: 18px;
}


#size-menu img:hover {
    color: #fff;
    outline: 2px solid #fff;
}

#contrast-icon {
    cursor: pointer;
    width: 30px;
}

#contrast-icon:hover {
    outline: 2px solid #fff;
}

hr {
    opacity: 0.3;
    margin: 5px 0;
}

/* ------------------------------------------- divisão header ----- */

nav {
    display: flex;
    color: #fff;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav ul button {
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}

nav ul button:hover {
    outline: 2px solid #fff;
}

nav a img {
    width: 190px;
}

nav a img:hover {
    outline: 2px solid #fff;
}


/* ----------------fechamento header ---------------------- */

main {
    padding: 0 10%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.container img {
    width: 450px;
}

.container p {
    margin-top: 14px;
    max-width: 400px;
}

#caixa2, #caixa3, #caixa4 {
    display: none;
}


.container-main {
    display: flex;
    flex-direction: column;
    margin: 2% 10%;
}

.container-main p {
    max-width: 700px;
    text-align: justify;
}



footer {
    text-align: center;
}


/* --------------Modo Alto Contraste --------- */
.contrast-mode {
    background: #000;
    color: var(--text);
}

.contrast-mode li {
    color: var(--text);
}

.contrast-mode #recursos a {
    color: var(--text);
}

.contrast-mode button {
    color: var(--text);
}
